<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    </head>
    <body>
        {% block body %}
            {% block nav %}
                <div class="navbar-dark bg-dark menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="nav">
                                    <div class="nav-item">
                                        <a class="nav-link" href="{{ path('homepage') }}">Лента</a>
                                    </div>
                                    <div class="nav-item">
                                        <a class="nav-link" href="{{ path('followers') }}">Мои подписки</a>
                                    </div>
                                    <div class="nav-item">
                                        <a class="nav-link" href="{{ path('myProfile') }}">Мой профиль</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="logout">
                                    <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Выход</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
